<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Appointment Details</title>
</head>
<body>

{% for people in myappoint %}
{{ people.name }}
{{ people.email }}
{{ people.phone }}
{{ people.date }}
{{ people.time }}
{{ people.people }}
{{ people.message }} <br>



{% endfor %}


</body>
</html>